<div class="">
    <nav class="navbar navbar-dark bg-dark">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Menu
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="admin-oradores">Manejo Oradores</a>
              <a class="dropdown-item" routerLink="admin-charlas">Manejo Conferencias</a>
              <a class="dropdown-item" routerLink="admin-participantes">Manejo Participantes</a>
            </div>
                " "
            <a class="navbar-brand">Logo de la cosa</a>
          </div>
       
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Cerrar Sesion</a>
            </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>