<br>
<div class="container">
    <div class="d-flex flex-wrap flex-md-nowrap pt-3 pb-2 mb-3 border-bottom">
        <hr>
        <h1 class="text-center"> Datos de la  Nueva Conferencia </h1>
        <hr>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" name="nombre" placeholder="Nombre Conferencia" [(ngModel)]="nombre">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="orador" placeholder="Nombre Orador" [(ngModel)]="orador">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lugar" placeholder="Lugar" [(ngModel)]="lugar">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="horario" placeholder="Horario" [(ngModel)]="horario">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="capacidad" placeholder="Capacidad" [(ngModel)]="capacidad">
            </div>
            <div class="col-8 container">
                <span class="col-8" (click)="crearCharla()"><button type="button"
                        class="btn btn-success btn-rounded btn-md my-0 btn-block">Agregar</button></span>
                <a routerLink="../"><button type="button"
                        class="btn btn-danger btn-rounded btn-md my-0 btn-block">Volver</button></a>
            </div>
        </form>
    </div>
</div>
