<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Manejo Oradores</h3>
  <div class="card-body">
      <a routerLink="nuevo-orador" class="table-remove"><button type="button"
        class="btn btn-success btn-rounded btn-md my-0">Nuevo</button></a>
    <div id="table">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Apellido</th>
            <th class="text-center">Especialidad</th>
            <th class="text-center">Charla</th>
            <th class="text-center">Email</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orador of oradores">
            <td class="pt-3-half">{{orador.id}}</td>
            <td class="pt-3-half">{{orador.name}}</td>
            <td class="pt-3-half">{{orador.lastname}}</td>
            <td class="pt-3-half">{{orador.especialidad}}</td>
            <td class="pt-3-half">{{orador.charla}}</td>
            <td class="pt-3-half">{{orador.email}}</td>
            <td><a routerLink="editar-orador/{{orador.id}}" class="table-remove"><button type="button"
                  class="btn btn-warning btn-rounded btn-sm my-0">Editar</button></a></td>
            <td><span class="table-remove"><button type="button"
                  class="btn  btn-rounded btn-danger btn-sm my-0" (click)="eliminarOrador(orador.id)">Remove</button></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
